# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# .NET
*.nupkg
*.snupkg
**/[Ss]taticWebAssets/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Build
[Bb]uild[Ll]og.*

# Plugins output
plugins_output/*.dll
